<h1>All Terrain Types</h1>

<table>
    <tr>
        <th>Name</th>
        <th colspan="3"></th>
    </tr>
    
    <% @terrains.each do |terrain| %>
        <tr>
            <td><%= terrain.name %></td>
            <td><%= link_to 'Show', terrains_path(terrain) %></td>
            <td><%= link_to 'Edit', edit_terrain_path(terrain) %></td>
            <td><%= link_to 'Delete', terrains_path(terrain),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table><br>

<%= link_to 'Add Terrain', new_terrain_path %><br>
<%= link_to 'Main', welcome_index_path %>