<div class="container"><div class="content-block tiny">
<p>
    <strong>Name:</strong>
    <%= @terrain.name %>
</p>

        <%= link_to 'Main', welcome_index_path %> |
        <%= link_to 'All', terrains_path %> |
        <%= link_to 'Edit', edit_terrain_path(@monster) %><br><br>
        <%= link_to 'Add Another Monster', new_terrain_path %>
</div></div>