<%= form_for :monster do |f| %>
    <% if @monster.errors.any? %>
        <div>
            <h2>
                <%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:
            </h2>
            <ul>
                <% @monster.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :cr %><br>
        <%= f.text_field :cr %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>

<% end %>