<%= form_for @monster do |f| %>
    <% if @monster.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:
            </h2>
            <ul>
                <% @monster.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <div class="form-field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
        </div>

        <div class="form-field">
            <%= f.label :cr %><br>
            <%= f.text_field :cr %>
        </div>
        
        <div class="form-field">
            <%= f.label "Normality (1-100)"%><br>
            <%= f.text_field :normality %>
        </div>
        
        <div class="form-field">
            <%= f.label "Hostility (1-100)"%><br>
            <%= f.text_field :hostility %>
        </div>
    </p>
    
    <p>
        <%= f.label :terrain %><br>
        <%= hidden_field_tag("monster[terrain_ids][]", nil) %>
        <% Terrain.order(:name).each do |terrain| %>
            <label><%= check_box_tag("monster[terrain_ids][]", terrain.id, terrain.id.in?(@monster.terrains.collect(&:id))) %> <%= terrain.name %></label>
        <% end %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>

<% end %>