<div class="container">
<div class="intro-block">
    <h1>MonsterMeeter</h1>

    <%= link_to 'All Monsters', monsters_path %> |
    <%= link_to 'Add Monster', new_monster_path %><br>
    <%= link_to 'All Terrain', terrains_path %> |
    <%= link_to 'Add Terrain', new_terrain_path %><br><br>
    <%= link_to 'Create Encounter Table', encounter_table_index_path %>
</div>
</div>